<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Pierre's Bakery - Vendors Order Tracker</title>
  <link rel="stylesheet" type="text/css" href="~/css/styles.css">

</head>

<body>
  <div class="container">
    <h1>Pierre's Bakery</h1>
    <h2>Vendors Order Tracker</h2>

    <div class="link-card">
      <a href='/vendors'>View vendors list</a>
      <a href='/vendors/new'>Add a new vendor to the list</a>
    </div>
  </div>
</body>

</html>